.about-container {
  height: 70vh;
  width: 100vw;
  background-color: #141e28;
}
.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  height: auto;
  width: 90%;
  padding-top: 9.5%;
}
.left {
  height: 20rem;
  width: 35rem;
  font-size: 18px;
  margin-bottom: 30px;
  text-align: left;
}
.about-title {
  margin-bottom: 30px;
  font-size: 30px;
  color: #715b58;
}
.underline--blue {
  border-bottom: 6px solid #cb9e4b;
  width: auto;
}
.about-desc {
  color: #715b58;
}
.imagebg {
  position: relative;
  height: 19.7rem;
  width: 23.2rem;
  background-color: #715b58;
  margin-left: -4.6rem;
}
.about-img {
  position: absolute;
  height: 22.4rem;
  width: 23rem;
  margin-left: -16rem;
  margin-top: -25rem;
}
