.navbar-container {
  /* background-color: #060606; */
  width: 10rem;
  top: 0;
  bottom: 0;
  position: relative;
  height: 98vh;
}
.navbar-buttons {
  width: 30.3%;
  height: 5%;
  border-radius: 50%;
  background-color: #613a30;
  padding-top: 8px;
  margin: 8px;
  text-align: center;
}
.navbar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 83vh;
  padding-top: 50%;
  padding-bottom: 50%;
}
.navbar-buttons-txt {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 5px;
}
